#container{

  text-align: center
}

.rowContainer{
  padding: 10px;
  margin: 3px;
}

.cell{
  margin: 1px;
  font-size: 13pt;
  padding: 5px;
  border: 1px solid;
  padding: 10px;
}

.odd{
  color: red;
  margin: 1px;
  font-size: 13pt;
  padding: 5px;
  border: 1px solid;
  padding: 10px;
}
